<div class="home-container">
  <h1 class="artist-name">Noir</h1>
  <p class="slogan">Welcome to my world</p>
  <a routerLink="/next-release" class="cta-button">Discover the next release</a>

  <div class="social-links">
    <a
      href="https://www.youtube.com/@NoirMusicEngagement"
      target="_blank"
      aria-label="YouTube"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      href="https://www.instagram.com/noir999noir"
      target="_blank"
      aria-label="Instagram"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://open.spotify.com/intl-it/artist/4z96IHhDNQ4K5UcYvMrrTh?si=QA5kQHOGQ_WqJrL7YOvENg"
      target="_blank"
      aria-label="Spotify"
    >
      <i class="fab fa-spotify"></i>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
